.cat1 {
    height: 418;
    color: 'green';
    font-size: 60
}

.cat2 {
    height: 418
}

.cat3 {
    height: 418
}

.row {
    display: 'inline-block';
    font-size: 40;
    color: 'green'
}

.row1 {
    display: 'inline-block';
    font-size: 40;
    color: 'green'
}